.navbar{
    font-weight: 100;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    position: relative;
    padding: 1em;
}
.nav-Head{
   
    /* margin-left: 2.4em; */
    font-weight: 800;
    color:whitesmoke;
    font-size: 2em;
}
.nav-sec{
    display: flex;
    list-style: none;
}
.nav-sec li{
    padding: 1em;
    color: black;
    color: white;
    font-size: 0.8em;
    cursor: pointer;
}
.btnPlay{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    background-color: #ff4654;
    color: white;
    border: none;
    height: 3em;
    width: 10%;
    border-radius: 50px;
    cursor: pointer;
   transition:all 0.3s ease-in-out;
}
.btnPlay:hover{
    transform: scale(1.05);
    background-color: #ff2e3d;
}